<div class="view-container">
    
    <div class="inputs-container">
        <div class="inputs-container__align">
            <label class="label" for="list-name">Nombre</label>
            <input class="input text" type="text" id="list-name" name="list-name"><br>

            <label class="label" for="list-name">Añadir obra</label>
            <input class="input text" type="text" id="list-name" name="list-name">
        </div>

        <div class="inputs-container__align">
            <label class="label" for="description">Descripción</label>
            <textarea class="input textarea" id="description" name="description" rows="4" cols="50"></textarea>
        </div>
    </div>
    

    <div class="grid">
        <div class="grid__cards">
            <app-c-artwork-card 
                *ngFor="let c of cards" 
                [userRating]="userRating">
            </app-c-artwork-card>
        </div>
    </div>
</div>
