<div class="filters"> <!--TODO: Botón Reset para todos los filtros a la vez-->
    <app-c-search-filter 
        [searchResult]="data"
        [filter]="data?.nameFilter"
        mode="profile"  
        type="nameFilter"
        (updateData)="updateData($event)"> <!--TODO: Sacar mode a una constante-->
    </app-c-search-filter>

    <app-c-search-filter 
        [searchResult]="data"
        [filter]="data?.artistFilter"
        mode="profile"
        type="artistFilter"
        (updateData)="updateData($event)">
    </app-c-search-filter>
    
    <app-c-search-filter 
        [searchResult]="data"
        [filter]="data?.styleFilter"
        mode="profile"
        type="styleFilter"
        (updateData)="updateData($event)">
    </app-c-search-filter>
    
    <app-c-search-filter 
        [searchResult]="data"
        [filter]="data?.museumFilter"
        mode="profile"
        type="museumFilter"
        (updateData)="updateData($event)">
    </app-c-search-filter>
</div>

<div class="grid">
    <div class="grid__cards">
        <app-c-artwork-card 
            *ngFor="let artwork of data?.artworks | paginate: { itemsPerPage: 13, currentPage: page }"
            [data]="artwork"
            [seen]="true" 
            [userRating]="artwork.userRating">
        </app-c-artwork-card> <!--TODO: [seen] no puede ser siempre true, puedes estar viendo el perfil de otra persona-->
    </div>

    <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
</div>
