<div class="credential-box">
    <h1 class="credential-box__title">Registro</h1>

    <div class="credential-box__content">
        <div style="padding-top: 20px;">
            <div>
                <label class="credential-box__content__label" for="nick-mail">Usuario</label><br>
                <input class="credential-box__content__input" type="text" id="nick-mail" name="nick-mail">
            </div><br>

            <div>
                <label class="credential-box__content__label" for="nick-mail">Correo</label><br>
                <input class="credential-box__content__input" type="text" id="nick-mail" name="nick-mail">
            </div><br>

            <div>
                <label class="credential-box__content__label" for="password">Contraseña</label><br>
                <input class="credential-box__content__input" id="password" name="password">
            </div><br>

            <div>
                <label class="credential-box__content__label" for="password">Confirmar Contraseña</label><br>
                <input class="credential-box__content__input" id="password" name="password">
            </div><br>
        </div>

        <div class="button-container">
            <app-c-museu-button></app-c-museu-button>
        </div>
    <div>
</div>
