<div class="page">
    <div class="filter">
        <input 
            class="filter__input text" 
            placeholder="Nombre..." 
            (keyup)="triggerFilterOptions($event, 'nameFilter')" 
            type="text" 
            id="nameFilter"
            name="filter"
            (focus)="onFocus()" (blur)="onBlur()"
        >

        <div *ngIf=" showNameOptions " class="filter__dropdown" id="nameFilter-dropdown" (mousemove)="changeStarsWidth($event)">
            <div *ngIf=" nameFilter.length > 0 " class="filter__dropdown__results">
                <span *ngFor="let name of nameFilter"
                    class="filter__dropdown__results__option"
                    (click)="filterSetOption(name, 'nameFilter')">
                        {{name}}
                </span>
            </div>

            <span *ngIf=" nameFilter.length === 0 "
                class="filter__dropdown__results__option empty-option">
                    Sin resultados
            </span>
        </div>
    </div>
    

    <div class="grid">
        <div class="grid__cards">
            <app-c-artwork-card 
                *ngFor="let artwork of artworks | paginate: { itemsPerPage: 7, currentPage: page }"
                [data]="artwork"
                [userRatings]="userRatings">
            </app-c-artwork-card>
        </div>
    </div>
                 
    <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
</div>
