// Search View
.grid {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  
    &__cards{
      margin-top: 5%;
      display: grid;
      grid-template-columns: repeat(7, 0px);
      grid-auto-rows: auto;
      grid-gap: 11.5rem 7.5rem;
    }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7%;
}

.pagination {
  font-family: Graphik Web Regular Regular;
  margin-top: 12%;
}



.pagination ::ng-deep .ngx-pagination {
  .current{
    background: transparent;

    span{
      color: #567;
    }
  }

  a{
    color: #9ab;

    &:hover{
      background: #303840;
      color: #def;
    }
  }

  .pagination-previous, .pagination-next {
    display: none;
  }
}

// Filter - TO COMPONENT

.filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7%;
  font-family: Graphik Web Regular Regular;
  height: fit-content;
  color: white;

  position: absolute;
  z-index: 1;

  &__input {
    font-size: medium;
    border-radius: 5px 5px 0 0;
    background-color: #2c3440;
    border: none;
    box-shadow: inset 0 -1px 0 #456;
    box-sizing: border-box;
    color: #89a;
    line-height: 1;
    margin: 0;
    padding: 9px 9px 8px;
  
    &:focus{
      background-color: #fff;
      box-shadow: none;
      color: #234;
      outline: none;
    }
  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    background-color: #678;

    &__results{
      display: flex;
      flex-direction: column;
      max-height: 170px;
      overflow: auto;
    
      /* Firefox */
      & {
        scrollbar-width: auto;
        scrollbar-color: #929aa1 #4d5966;
      }
    
      /* Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
        width: 15px;
      }
    
      &::-webkit-scrollbar-track {
        background: #4d5966;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #929aa1;
        border-radius: 0px;
      }

      &__option{
        color: #fff;
        padding: 5px 8px 5px 10px;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 20%);
        line-height: 1.5;
        cursor: pointer;
      
        &:hover{
          background-color: #00b020;
          text-shadow: 0 -1px 0 rgba(0,0,0,.2);
        }
      }
    }
  }
}

.text{
  width: 300px;
  height: 30px;
}

.empty-option {
  background-color: #ff8000;
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  pointer-events: none;
}

.filter__input:focus .filter__dropdown{
  display: none;
}

.open{
  display: flex;
}

.close{
  display: none;
}

