<img class="artwork-details__banner" [src]="artwork?.picLink" alt="Avatar">
<div class="align">
    <div class="artwork-details__content">
        <div class="artwork-details__content__title">
            <h1 class="artwork-details__content__title__name">{{artwork?.name}}</h1>
            <span class="artwork-details__content__title__artist-date">{{artwork?.date}} - {{artwork?.artist}}</span>
        </div>
        <p class="artwork-details__content__description"> <!-- TODO: {{artwork?.description}}-->
            Nighthawks es un cuadro del pintor estadounidense Edward Hopper
            en el cual se ve a cuatro personas en un restaurante urbano por la noche.
            <br><br>
            No solo es el cuadro más famoso hecho por Hopper, sino también uno 
            de los más reconocibles del arte estadounidense. 
        </p>
    </div>
    
    <div class="artwork-details__rating-box">
        <div class="artwork-details__rating-box__stars">
            <span>Valoración</span>
            <app-c-rating-stars 
                *ngIf="curretUserRating || curretUserRating == '' "
                [curretUserRating]="curretUserRating"
                [artworkId]="artwork?.id"
                (updateRatings)="updateRatings($event)">
            </app-c-rating-stars>
            <app-c-museu-button
                [disabled]="disableReview"
                [text]="literals.button">
            </app-c-museu-button>
        </div>
        <hr class="separator">
        <span class="artwork-details__rating-box__museum">
            Museo: {{artwork?.museum}}
        </span>
        <hr class="separator">
        <span class="artwork-details__rating-box__colection">
            Colección: {{artwork?.colection}}
        </span>
        <hr class="separator">
        <span class="artwork-details__rating-box__display">
            Expuesto: {{artwork?.display ? 'Si' : 'No'}}
        </span>
        <hr class="separator">
        <span class="artwork-details__rating-box__room">
            Sala: {{artwork?.room}}
        </span>
    </div>
</div>

<span class="rating-header">
    <span class="rating-header__title">Reseñas</span>
    <span class="rating-header__average-stars" [ngClass]="{
        'half': artwork?.averageRating == 0.5,

        'one-full': artwork?.averageRating > 0.5 && artwork?.averageRating <= 1,
        'one-half': artwork?.averageRating > 1 && artwork?.averageRating <= 1.5 ,

        'two-full': artwork?.averageRating > 1.5 && artwork?.averageRating <= 2,
        'two-half': artwork?.averageRating > 2 && artwork?.averageRating <= 2.5,

        'three-full': artwork?.averageRating > 2.5 && artwork?.averageRating <= 3,
        'three-half': artwork?.averageRating > 3 && artwork?.averageRating <= 3.5,

        'four-full': artwork?.averageRating > 3.5 && artwork?.averageRating <= 4,
        'four-half': artwork?.averageRating > 4 && artwork?.averageRating <= 4.5,

        'five-full': artwork?.averageRating > 5  && artwork?.averageRating <= 5
    }"></span>
    <span class="rating-header__amount">(Media de {{ratings?.length}} reseñas)</span>
</span>

<hr class="separator for-rating-header">

<div class="rating-section">
    <app-c-review-card *ngFor="let rating of ratings" [ratingData]="rating"></app-c-review-card>
</div>
