<img class="artwork-details__banner" src="./assets/nighthawks.jpg" alt="Avatar">
<div class="align">
    <div class="artwork-details__content">
        <div class="artwork-details__content__title">
            <h1 class="artwork-details__content__title__name">Nighthwaks</h1>
            <span class="artwork-details__content__title__artist-date">1942 - Edward Hopper</span>
        </div>
        <p class="artwork-details__content__description">
            Nighthawks es un cuadro del pintor estadounidense Edward Hopper
            en el cual se ve a cuatro personas en un restaurante urbano por la noche.
            <br><br>
            No solo es el cuadro más famoso hecho por Hopper, sino también uno 
            de los más reconocibles del arte estadounidense. 
        </p>
    </div>
    
    <div class="artwork-details__rating-box">
        <div class="artwork-details__rating-box__stars">
            <span>Valoración</span>
            <app-c-rating-stars></app-c-rating-stars>
            <app-c-museu-button></app-c-museu-button>
        </div>
        <hr class="separator">
        <span class="artwork-details__rating-box__museum">
            Museo: Lore Ipsum
        </span>
        <hr class="separator">
        <span class="artwork-details__rating-box__colection">
            Colección: Lore Ipsum
        </span>
        <hr class="separator">
        <span class="artwork-details__rating-box__display">
            Expuesto: Si
        </span>
        <hr class="separator">
        <span class="artwork-details__rating-box__room">
            Sala: 141 A
        </span>
    </div>
</div>

<span class="rating-header">
    <span class="rating-header__title">Reseñas</span>
    <span class="rating-header__average-stars"></span>
    <span class="rating-header__amount">(Media de 1467 reseñas)</span>
</span>

<hr class="separator for-rating-header">

<div class="rating-section">
    <app-c-review-card></app-c-review-card>
    <app-c-review-card></app-c-review-card>
    <app-c-review-card></app-c-review-card>
    <app-c-review-card></app-c-review-card>
</div>
