<img class="artwork-details__banner" [src]="data.picLink" alt="Avatar">
<div class="align">
    <div class="artwork-details__content">
        <div class="artwork-details__content__title">
            <h1 class="artwork-details__content__title__name">{{data.name}}</h1>
            <span class="artwork-details__content__title__artist-date">{{data.date}} - {{data.artist}}</span>
        </div>
        <p class="artwork-details__content__description"> <!-- TODO: {{data.description}}-->
            Nighthawks es un cuadro del pintor estadounidense Edward Hopper
            en el cual se ve a cuatro personas en un restaurante urbano por la noche.
            <br><br>
            No solo es el cuadro más famoso hecho por Hopper, sino también uno 
            de los más reconocibles del arte estadounidense. 
        </p>
    </div>
    
    <div class="artwork-details__rating-box">
        <div class="artwork-details__rating-box__stars">
            <span>Valoración</span>
            <app-c-rating-stars></app-c-rating-stars>
            <app-c-museu-button [text]="literals.button"></app-c-museu-button>
        </div>
        <hr class="separator">
        <span class="artwork-details__rating-box__museum">
            Museo: {{data.museum}}
        </span>
        <hr class="separator">
        <span class="artwork-details__rating-box__colection">
            Colección: {{data.colection}}
        </span>
        <hr class="separator">
        <span class="artwork-details__rating-box__display">
            Expuesto: {{data.display ? 'Si' : 'No'}}
        </span>
        <hr class="separator">
        <span class="artwork-details__rating-box__room">
            Sala: {{data.room}}
        </span>
    </div>
</div>

<span class="rating-header">
    <span class="rating-header__title">Reseñas</span>
    <span class="rating-header__average-stars" [ngClass]="{
        'one-full': data.averageRating === 1,
        'two-full': data.averageRating === 2,
        'three-full': data.averageRating === 3,
        'four-full': data.averageRating === 4,
        'five-full': data.averageRating === 5,
        'half': data.averageRating == '0.5',
        'one-half': data.averageRating == '1.5',
        'two-half': data.averageRating == '2.5',
        'three-half': data.averageRating == '3.5',
        'four-half': data.averageRating == '4.5'
    }"></span>
    <span class="rating-header__amount">(Media de {{ratings.length}} reseñas)</span>
</span>

<hr class="separator for-rating-header">

<div class="rating-section">
    <app-c-review-card *ngFor="let rating of ratings" [ratingData]="rating"></app-c-review-card>
</div>
