@font-face {
font-family: Graphik Web Semibold Regular;
src: url("./Graphik_Web_Semibold_Regular.otf") format("truetype");
}

@font-face {
    font-family: Graphik Web Regular Regular;
    src: url("./Graphik_Web_Regular_Regular.otf") format("truetype");
    }