<div class="filters"> <!--TODO: Botón Reset para todos los filtros a la vez-->
    <app-c-search-filter 
        [searchResult]="data"
        [filter]="data?.nameFilter"
        mode="artlist"  
        type="nameFilter"
        (updateData)="updateData($event)"> <!--TODO: Sacar mode a una constante-->
    </app-c-search-filter>

    <app-c-search-filter 
        [searchResult]="data"
        [filter]="data?.artistFilter"
        mode="artlist"
        type="artistFilter"
        (updateData)="updateData($event)">
    </app-c-search-filter>
    
    <app-c-search-filter 
        [searchResult]="data"
        [filter]="data?.styleFilter"
        mode="artlist"
        type="styleFilter"
        (updateData)="updateData($event)">
    </app-c-search-filter>
    
    <app-c-search-filter 
        [searchResult]="data"
        [filter]="data?.museumFilter"
        mode="artlist"
        type="museumFilter"
        (updateData)="updateData($event)">
    </app-c-search-filter>
</div>

<span class="edit-button" (click)="redirectToEdit()"></span>

<div class="grid">
    <div class="grid__cards">
        <app-c-artwork-card 
            *ngFor="let artwork of data?.artworks | paginate: { itemsPerPage: 13, currentPage: page }"
            [data]="artwork"
            [seen]="artwork.seen"
            [userRating]="">
        </app-c-artwork-card>
    </div>

    <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
</div>

<div *ngIf="data?.artworks.length" class="list-progress">
    <span class="watched">
        Has visto {{totalSeen}} de {{data?.artworks.length}} obras
    </span>

    <span class="percetange">
        {{progress}} <sup>%</sup>
    </span>

    <mat-progress-bar 
        class="progress-bar"
        [ngClass]="progress === 100 ? 'progress-bar__completed' : 'progress-bar__not-completed'"
        mode="determinate"
        [value]="progress">
    </mat-progress-bar>
</div>

<div class="map-container"
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)">
</div> <!--TODO: Para ocultar el mapa cuando no haya resultados, colocar el Empty State por encima (Z-Index)-->