.filters{
  display: flex;
  flex-direction: row;
  gap: 250px;
  margin-left: 18%;
}

.grid {
  display: flex;
  justify-content: center;

  &__cards {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(9, 0px);
    grid-auto-rows: auto;
    grid-gap: 0rem 7.5rem;
    margin-right: 12%;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7%;
}

.pagination {
  font-family: Graphik Web Regular Regular;
  margin-top: 11%;
}

.pagination ::ng-deep .ngx-pagination {
  .current {
    background: transparent;

    span {
      color: #567;
    }
  }

  a {
    color: #9ab;

    &:hover {
      background: #303840;
      color: #def;
    }
  }

  .pagination-previous,
  .pagination-next {
    display: none;
  }
}

.list-progress{
  margin-top: 50px;
}

mat-progress-bar{
  border-radius: 0 0 2px 2px;
  width: 10%;
}

::ng-deep {
  .mat-progress-bar-buffer {
    background: #303840;
  }
  
  .progress-bar{
    &__not-completed{
      .mat-progress-bar-fill::after {
        background-color: #40bcf4;
      }
    }

    &__completed{
      .mat-progress-bar-fill::after {
        background-color: #00e054;
      }
    }
  }
}

sup {
  font-size: 20px;
}