<div class="review-card">
    <img class="profile-image" src="./assets/temp_profile.jpeg" alt="Avatar">
    <div class="content">
        <div class="header">
            <a>
                Por
                <span class="author">
                    Fernando H
                </span>
            </a>
            <span class="average-stars"></span>
        </div>
        <div class="text-container">
            <span class="text">
                Muy bonito, me gustó. Sale un hombre con sombrero
            </span>
        </div>
    </div>
</div>

