.review-card{
    width: 100%;
    border-bottom: 1px solid #456;
    border-color: #2c3440;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.profile-image{
    border-radius: 50%;
    width:  29px;
    height: 29px;
}

.header{
    font-family: Graphik Web Regular Regular;
    color: #9ab;
    display: flex;
    gap: 10px;
}

.author{
    color: #abc;
    font-family: Graphik Web Semibold Regular;
}

.text-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.text{
    color: white;
    font-family: Graphik Web Regular Regular;
}

.average-stars{
    margin-top: 2px;
    height: 16px;
  
    background: url('../../../assets/sprite.d305a741.svg') no-repeat -290px -90px;
  
    //Full stars, width for amount: 13px = 1, 26px = 2, 39px = 3, 52px = 4, 65px = 5
    //background-position: -450px -50px;
    //width: 65px;
  
    //0.5 Stars
    //background-position: -515px -50px;
    //width: 13px;
  
    //1.5 Stars
    //background-position: -502px -50px;
    //width: 26px;
  
    //2.5 Stars
    //background-position: -489px -50px;
    //width: 39px;
  
    //3.5 Stars
    //background-position: -476px -50px;
    //width: 52px;
  
    //4.5 Stars
    background-position: -463px -50px;
    width: 65px;
}