<nav class="navbar">
    <div class="navbar__logo">
        <a routerLink="" class="navbar__logo__img">Museu</a>
    </div>
    <div class="navbar__options">
        <a class="navbar__options__search active" routerLink="/search">BUSCADOR</a>
        <a class="navbar__options__profile dropdown">
            <img class="navbar__options__profile__image shadowed" src="./assets/temp_profile.jpeg" alt="Avatar">
            <span class="navbar__options__profile__nickname" >MISCO_JONES <i class="arrow down"></i> </span>
            <div class="dropdown__content">
                <hr>
                <a href="/profile/1">Obras</a>
                <a href="/profile/1/lists">Listas</a>
                <hr>
                <a href="#">Ajustes</a>
                <a href="/login">Cerrar Sesión</a>
            </div>
        </a>
    </div>
</nav> 