<nav class="navbar">
    <div class="navbar__logo">
        <a class="navbar__logo__img" routerLink="">Museu</a>
    </div>
    <div class="navbar__options">
        <div *ngIf="getMe()" class="navbar__options__profile dropdown">
            <img class="navbar__options__profile__image shadowed" src="./assets/temp_profile.jpeg" alt="Avatar">
            <span class="navbar__options__profile__nickname" > {{getMe()?.nickname}} <i class="arrow down"></i> </span>
            <div class="dropdown__content">
                <hr>
                <a routerLink="/profile/{{getMe()?.authId}}">Mis Obras</a>
                <a routerLink="/profile/{{getMe()?.authId}}/lists">Mis Listas</a>
                <hr>
                <a href="#">Ajustes</a>
                <a routerLink="/login" (click)="closeSession()">Cerrar Sesión</a>
            </div>
        </div>

        <div *ngIf="!getMe()" routerLink="/login" class="navbar__options__profile">
            <span class="navbar__options__profile__nickname" > Iniciar Sesión </span>
        </div>
    </div>
</nav> 