<div class="filter">
    <input 
        class="filter__input text" 
        [placeholder]="placeholder"
        (keyup)="triggerFilterOptions($event)" 
        [id]="type"
        autocomplete="off"
        (focus)="onFocus()"
        (blur)="onBlur()"
    >

    <div *ngIf=" showOptions " class="filter__dropdown" id="{{type}}-dropdown" (mousemove)="dropdownBounds($event)">
        <div class="filter__dropdown__results" *ngIf="(filter?.length > 0 && mode != 'artlist-edit') || (editListOptions?.length > 0 && mode == 'artlist-edit')">
            <span *ngFor="let option of (mode != 'artlist-edit' ? filter : editListOptions)"
                    class="filter__dropdown__results__option"
                    (click)="filterSetOption(option.name || option, option.id || null)">
                {{option.name || option}}
            </span>
        </div>

        <span *ngIf=" filter?.length === 0 || editListOptions?.length === 0"
            class="filter__dropdown__results__option empty-option">
                Sin resultados
        </span>
    </div>
</div>
