<!-- Toolbar -->
<app-c-navbar></app-c-navbar>

<div class="grid">
    <div class="cards">
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
        <app-c-artwork-card></app-c-artwork-card>
    </div>
</div>

<router-outlet></router-outlet>
