.museu-button{
    cursor: pointer;

    background-color: #00b020;
    color: white;
    border: 0;
    border-radius: 2px;

    text-align: center;
    font-family: Graphik Web Semibold Regular;

    width: 100px;
    height: 30px;

    &:hover{
        background-color: #00a11d;
    }
}