// Login View
.login-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}

@media screen and (max-width: 768px) {
  .login-view {
    flex-direction: column;
    gap: 0rem;
  }
}