<div class="credential-box">
    <h1 class="credential-box__title">Iniciar Sesión</h1>

    <form [formGroup]="loginForm" class="credential-box__content">
        <div>
            <div class="breather">
                <label class="credential-box__content__label">{{ literals.nickMailTitle }}*</label>
                <input class="credential-box__content__input" type="text" formControlName="nick_or_mail">
                
                <mat-error [ngClass]="nick_or_mail.invalid && !loginForm.errors?.['wrongCredentials'] && nick_or_mail.touched ? '' : 'show-error'">
                    Requerido
                </mat-error>
            </div>

            <div class="breather">
                <label class="credential-box__content__label">{{ literals.passwordTitle }}*</label>
                <input class="credential-box__content__input"
                    type="password"
                    onpaste="return false;"
                    ondrop="return false;"
                    autocomplete="off"
                    formControlName="password"
                >

                <mat-error [ngClass]="password.invalid && !loginForm.errors?.['wrongCredentials'] && password.touched ? '' : 'show-error'">
                    Requerido
                </mat-error>
            </div>
        </div>

        <div class="button-container">
            <mat-error [ngClass]="loginForm.errors?.['wrongCredentials'] ? '' : 'show-error'">
                Credenciales erróneos
            </mat-error>

            <app-c-museu-button 
                [text]="literals.button" 
                [disabled]="loginForm.invalid && !loginForm.errors?.['wrongCredentials']" 
                (click)="loginUser()">
            </app-c-museu-button>
        </div>
    </form>
</div>
