<div class="credential-box">
    <h1 class="credential-box__title">Iniciar Sesión</h1>

    <form [formGroup]="loginForm" class="credential-box__content">
        <div style="padding-top: 20px;">
            <div>
                <label class="credential-box__content__label">{{ literals.nickMailTitle }}</label><br>
                <input class="credential-box__content__input" type="text" formControlName="nick_or_mail">

                <mat-error *ngIf="nick_or_mail.invalid && !loginForm.errors?.['wrongCredentials'] && nick_or_mail.touched">
                    Requerido
                </mat-error>
            </div><br>

            <div>
                <label class="credential-box__content__label">{{ literals.passwordTitle }}</label><br>
                <input class="credential-box__content__input" type="text" formControlName="password">

                <mat-error *ngIf="password.invalid && !loginForm.errors?.['wrongCredentials'] && password.touched">
                    Requerido
                </mat-error>
            </div><br>

            <mat-error *ngIf="loginForm.errors?.['wrongCredentials']">
                Credenciales Erroneos
            </mat-error>
        </div>

        <div class="button-container">
            <app-c-museu-button 
                [text]="literals.button" 
                [disabled]="loginForm.invalid && !loginForm.errors?.['wrongCredentials']" 
                (click)="loginUser()">
            </app-c-museu-button>
        </div>
    </form>
</div>
