<div class="artwork-card">
    <img class="artwork-card__art" src="./assets/nighthawks.jpg" alt="Art">
    <span class="artwork-card__overlay"></span>
    <span class="artwork-card__overlay-actions">
        <span class="artwork-card__overlay-actions__rating-average__value">4.5/5</span>
        <span class="artwork-card__overlay-actions__rating-average__star"></span>
        <span class="artwork-card__overlay-actions__seen"></span>
    </span>
</div>
<p class="user-rating">
    <span class="user-rating__value"></span>
</p>