<div [routerLink]="['/artwork/', data.id]" class="artwork-card">
    <img class="artwork-card__art" [src]="data.picLink" alt="Art">
    <span class="artwork-card__overlay"></span>
    <span class="artwork-card__overlay-actions">
        <span *ngIf="data.averageRating && editMode == false" class="artwork-card__overlay-actions__rating-average__value">{{data.averageRating}}/5</span>
        <span *ngIf="data.averageRating && editMode == false" class="artwork-card__overlay-actions__rating-average__star"></span>

        <span *ngIf="editMode == false" [ngClass]=" {
            'artwork-card__overlay-actions__seen' : seen,
            'artwork-card__overlay-actions__not-seen' : !seen
        } "></span>

        <span *ngIf="editMode" class="artwork-card__overlay-actions__list-edit"></span>

    </span>
</div>

<p class="user-rating" *ngIf="userRating" >
    <span class="user-rating" [ngClass]="{
        'half': userRating == 0.5,

        'one-full': userRating > 0.5 && userRating <= 1,
        'one-half': userRating > 1 && userRating <= 1.5 ,

        'two-full': userRating > 1.5 && userRating <= 2,
        'two-half': userRating > 2 && userRating <= 2.5,

        'three-full': userRating > 2.5 && userRating <= 3,
        'three-half': userRating > 3 && userRating <= 3.5,

        'four-full': userRating > 3.5 && userRating <= 4,
        'four-half': userRating > 4 && userRating <= 4.5,

        'five-full': userRating > 4.5  && userRating <= 5
    }"></span>
</p>