<div [routerLink]="['/artwork/', data.id]" class="artwork-card">
    <img class="artwork-card__art" [src]="data.picLink" alt="Art">
    <span class="artwork-card__overlay"></span>
    <span class="artwork-card__overlay-actions">
        <span *ngIf=" data.averageRating && editMode == false " class="artwork-card__overlay-actions__rating-average__value">{{data.averageRating}}/5</span>
        <span *ngIf=" data.averageRating && editMode == false " class="artwork-card__overlay-actions__rating-average__star"></span>

        <span *ngIf=" editMode == false " [ngClass]=" {
            'artwork-card__overlay-actions__seen' : seen,
            'artwork-card__overlay-actions__not-seen' : !seen
        } "></span>

        <span *ngIf=" editMode" class="artwork-card__overlay-actions__list-edit"></span>

    </span>
</div>

<p class="user-rating" *ngIf=" userRatings.length > 0 " >
    <span class="user-rating__value"></span>
</p>