@mixin assignValue($properties, $value) {
    @each $property in $properties {
        #{$property}: $value
    }
}

.artwork-card {
    width: 70px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.5) 50%,hsla(0,0%,100%,0));
    background-repeat: no-repeat;
    background-size: 100% 1px;
    border-radius: 4px;
    box-shadow: inset 0 0 1px #def;
    position: absolute;
    cursor: pointer;

    &__art{
        width: 68px;
        height: 103px;
        border-radius: 3px;
        object-fit: cover;
    }

    &__overlay{
        transition: border .1s linear;
        white-space: nowrap;
        position: absolute;
        border: 1px transparent;
        border-radius: 4px;
    }

    &:hover .artwork-card__overlay{
        border: 3px solid #00e054;
        display: block;
        @include assignValue(top left right bottom, 0);
    }

    &:hover .artwork-card__overlay-actions{
        display: flex;
    }

    &__overlay-actions{
        cursor: default;
        display: none;
        justify-content: center;
        position: absolute;
        bottom: 2px;
        height: 24px;
        width: 64px;
        background: rgba(0,0,0,.8);
        border-radius: 4px;

        &__seen{
            width: 20px;
            background-position: -690px -610px !important; //Green Eye
            background: url('../../../assets/sprite.d305a741.svg') no-repeat;
        }

        &__not-seen{
            width: 20px;
            background-position: -650px -610px  !important; //Grey Eye
            background: url('../../../assets/sprite.d305a741.svg') no-repeat;

            /*&:hover{
                background-position: -670px -610px  !important; //Grey Eye Darker
            }*/
        }

        &__rating-average{
            &__value{
                font-family: Graphik Web Regular Regular;
                color: #789;
                font-size: 11px;
                margin-top: 5.5px;
                margin-left: 1px;
                margin-right: 2px;
            }

            &__star{
                width: 12px;
                height: 16px;
                margin-top: 4px;
                margin-right: 2px;
                background-position: -450px -50px !important; //1 Green Small Star
                background: url('../../../assets/sprite.d305a741.svg') no-repeat;
            }
        }
    }
}

.user-rating{
    margin-top: 105px;
    width: 70px;
    height: 11px;
    display: flex;
    padding-top: 3px;

    &__value{
        background: url('../../../assets/sprite.d305a741.svg') no-repeat 0 -200px;

        //Full stars, width for amount: 11px = 1, 22px = 2, 33px = 3, 44px = 4, 55px = 5
        //width: 11px; 

        // 0.5 stars
        /*background-position: -55px -200px;
        width: 11px;*/

        // 1.5 stars
        /*background-position: -44px -200px;
        width: 22px;*/

        // 2.5 stars
        background-position: -33px -200px;
        width: 33px;

        // 3.5 stars
        /*background-position: -22px -200px;
        width: 44px;*/

        // 4.5 stars
        /*background-position: -11px -200px;
        width: 55px;*/
    }
}